body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

ol{
    padding: 0;
}

.nav-container{
    background-color: rgb(37, 35, 35);
    color:whitesmoke;
}

.nav-bar{   
    width: 95%;
    margin: auto;
    display: flex;
    align-items: center;
}

.nav-burger{
    display: none;
}

.nav-logo{
    width: 15%;
    font-size: 13px;
    cursor: pointer;
    overflow: hidden;
    color:whitesmoke; 
    margin: 0;  
}

.nav-links{
    width: 70%;
}

.nav-links ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin: 0; 
}

.nav-links ul li{
    margin: 0 3%;
}

.nav-links ul li a{
    font-size: 17px;
    font-weight:400;
    color:whitesmoke;
}

.nav-links ul li a:hover,
.nav-status *:hover{
    color: rgb(165, 165, 165);
}

.nav-status{
    width: 15%;
    text-align: right;
}

.nav-status *{
    margin-left: 5%;
    cursor: pointer;
}


.content{
    /* border: 1px solid blue; */
    padding: 7% 5%;
    width: 25%;
    margin: auto;
    height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 150%;
}




@media (max-width:670px){

    .nav-burger{
        /* border: 1px solid red; */
        width: 25%;
        display: block;
        cursor: pointer;
    }

    .nav-logo{
        /* border: 1px solid red; */
        width: 50%;
        text-align: center;
    }

    .nav-links{
        /* border: 1px solid red; */
        background-color: rgb(37, 35, 35);
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
        transform: translateX(-500px);
        transition: transform 0.5s ease-in-out;
        display: flex;
        opacity: 0.95;
    }

    .show{
        transform: none;
    }

    .nav-links ul{
        flex-direction: column;
        margin: 0;
        width: 100%;
        /* border: 1px solid red; */
    }
    
    .nav-links ul li{
        margin: 15%;
    }

    .nav-status{
        /* border: 1px solid red; */
        width: 25%;
    }

    .content{
        width: 75%;
        margin-top: 20%;
    }
}
